.App {
  width: 860px;
  height: 560px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

@media (max-width: 700px) {
  .App {
    height: 100%;
  }

  main {
    flex-direction: column;
  }
}
