.Content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

@media (max-width: 700px) {
  .Content {
    height: 460px;
    flex-direction: column;
    gap: 10px;
  }
}
