.counter {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: none;
}

.counter circle {
  fill: none;
  stroke: #cfcfcd;
  stroke-linecap: round;
  transform-origin: center;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 0.5s ease 0s;
}

.counter .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 2em;
}

@media (max-width: 500px) {
  .counter {
    width: 120px;
    height: 120px;
  }

  .counter .number {
    font-size: 1.6em;
  }
}

@media (max-width: 300px) {
  .counter {
    width: 90px;
    height: 90px;
  }

  .counter .number {
    font-size: 1.2em;
  }
}

.statbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.statbox .statbox-text {
  visibility: hidden;
  position: absolute;
  width: 100px;
  bottom: 135%;
  left: 50%;
  margin-left: -56px;
  padding: 10px 6px;
  background-color: #704e2e;
  border-radius: 6px;
  font-size: 14px;
  z-index: 1;
  display: flex;
  justify-content: space-around;
}

.statbox:hover .statbox-text {
  visibility: visible;
}

.statbox .statbox-text::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: #704e2e transparent transparent transparent;
}
