.Dashboard {
  width: 100%;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.assessment {
  display: flex;
  gap: 0.3em;
}

@media (max-width: 700px) {
  .Dashboard {
    padding: 30px 0;
    flex-direction: row;
  }
}

/* CIRCULAR COUNTER */

svg {
  width: 150px;
  height: 150px;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #cfcfcd;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 145px) rotate(-90deg);
  transition: stroke-dashoffset 0.5s ease 0s;
  stroke-dasharray: 440px 440px;
}

.red-circle {
  stroke: #c23866;
}

.yellow-circle {
  stroke: #fed766;
}

.green-circle {
  stroke: #8fb339;
}

.counter {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: none;
}

.counter .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 700;
  font-size: 2em;
}

/* HOVER STATBOX */

.statbox {
  position: relative;
  display: inline-block;
}

.statbox .statbox-text {
  visibility: hidden;
  width: 100px;
  background-color: #b09e99;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  padding: 10px 6px;
  border-radius: 6px;
  bottom: 140%;
  left: 50%;
  margin-left: -56px;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-around;
}

.statbox:hover .statbox-text {
  visibility: visible;
}

.statbox .statbox-text::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #b09e99 transparent transparent transparent;
}

.statbox-text .redtext {
  color: #c23866;
}

.statbox-text .yellowtext {
  color: #fed766;
}

.statbox-text .greentext {
  color: #61850e;
}

/* ANSWER BUTTONS */

.red:hover {
  background: #c23866;
  color: #fff;
}

.yellow:hover {
  background: #fed766;
  color: #fff;
}

.green:hover {
  background: #8fb339;
  color: #fff;
}
