.flashcard {
  min-width: 460px;
  min-height: 320px;
  perspective: 1000;
  display: inline-block;
}

.flipped .back {
  transform: rotateY(0deg);
}

.flipped .front {
  transform: rotateY(180deg);
}

.flipper {
  transition: 0.4s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  transition: 0.4s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 320px;
  border-radius: 6px;
  padding: 20px;
}

.front {
  z-index: 2;
  background: #FFFFFF;
}

.back {
  transform: rotateY(-180deg);
  background: #704E2E;
  color: #FAD4C0;
}