body {
  background: #9aa;
}

.title {
  display: inline-block;
  padding: 30px 60px;
  background: #f4f4f4;
  border-radius: 8px;
  font-weight: normal;
  margin-bottom: 10px;
}

.subtitle {
  display: inline-block;
  color: #555555;
  font-weight: normal;
  padding-bottom: 20px;
  border-bottom: 1px solid #f4f4f4;
  margin-top: 10px;
  margin-bottom: 60px;
}

.container {
  position: absolute;
  width: 250px;
  height: 320px;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.1s ease; 
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #666666;
  color: #000;
  text-align: center;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #333333;
  color: #fff;
  text-align: center;
  transform: rotateY(180deg);
}