@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

body {
  font-family: Nunito;
  max-width: 860px;
  margin: 20px auto;
  font-size: 1em;
  text-align: center;
  background: #FAD4C0;
  color: #2D2D34;
}

.japanese {
  font-family: "Kosugi Maru";
}

a {
  color: #52489C;
}

a:visited {
  color: #4062BB;
}

button {
  background: #704E2E;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #c23866;
  color: #fff;
}