.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(176, 158, 153, 0.76);
    display: flex;
    animation: fade-in 0.2s ease;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* .fade-in {
  transition: opacity 0.3s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3 ease;
} */

.modal {
    box-sizing: border-box;
    margin: auto;
    padding: 20px 40px 40px;
    width: 500px;
    background: #ffffff;
    border-radius: 8px;
}

@media (max-width: 580px) {
    .modal {
        padding: 10px 30px 30px;
        max-width: 90vw;
        max-height: 86vh;
        overflow-y: scroll;
    }
}

.modal p {
    text-align: justify;
    font-size: 0.9em;
    line-height: 1.8em;
}

strong,
em {
    color: #c23866;
}

.button-container {
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    gap: 0.3em;
}
