/* .Results {} */

.results-container {
    margin-bottom: 26px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.answer-tiles {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.6em;
}
