/* .Settings {} */

.choice {
  display: flex;
  text-align: left;
  padding: 0.2em 0 0.2em 20px;
}

@media (max-width: 360px) {
  .choice {
    padding-left: 10px;
  }
}

.choice label {
  font-size: 0.8em;
  padding-left: 6px;
}

.range p {
  display: flex;
  gap: 6px;
  align-items: center;
  flex-wrap: wrap;
}

.range input {
  text-align: center;
  min-width: 50px;
  max-width: 60px;
  max-height: 2em;
}

.no-wrap {
  display: flex;
  flex-wrap: nowrap;
  gap: 6px;
}

.disabled {
  opacity: 0.5;
}

.note {
  font-size: 0.8em;
}

.error-message {
  margin: 1.5em 0;
  padding: 0.5em;
  background-color: #c23866;
  border-radius: 3px;
  color: #fee9e1;
  font-size: 0.8em;
  font-weight: bold;
}
