.Settings {
  margin-bottom: 1.5em;
}

.choice {
  text-align: left;
  padding-left: 20px;
}

.choice label {
  font-size: 0.8em;
  padding-left: 6px;
}

.range p {
  display: flex;
  gap: 6px;
}

.range input {
  text-align: center;
}

.note {
  font-size: 0.8em;
}
